body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header{
    margin: auto;
}

.method_selection{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block: 1rem;
}

.barrier_method{
    height: auto;
    width: 2px;
    background-color: #292929;
    margin-inline: 1rem;
}

.form-content{
    margin-top: 1rem;
    margin-left: 10%;
    width: 80%;
}

.form{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.form form{
    width: 40%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.form form h1{
    margin-inline: auto;
    margin-bottom: 1rem;
    text-align: center;
}
.form .property{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.property input{
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}

.form form .button{
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #777777;
    color: #ffffff;
    cursor: pointer;
}

.form form .button:hover{
    background-color: #292929;
}


.form form .add-button{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #d65252;
    color: #ffffff;
    cursor: pointer;
}

.form form .add-button:hover{
    background-color: #8d1a1a;
}

.name-align{
    display: flex;
    align-items: center;
    margin: auto;
}

.result-info{
    display: flex;
    width: 50%;
    margin: auto;
}

label{
    display: flex;
}
.result-info .result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}
